<p>contacts works</p>

<app-modal
[isOpen]="modalOpen"
(close)="closeCheckoutModal()"
>
  <div class="modal-body">
    <p class="text">Improve our service</p>
  </div>
  <div class="modal-footer">
    <div>Information provided was clear to you?</div>
    <div>
    <button class="btn btn-primary" (click)="closeCheckoutModal()">Yes</button>
    <button class="btn btn-danger" (click)="noClick()">No</button>
  </div>
  </div>
</app-modal>

<div class="row p-2">
  <button class="btn btn-success btn-block"
  (click)="openCheckoutModal()"
  > Additional Information</button>
</div>
