<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a routerLink="/"><h4 class="main"> Electronic shop </h4></a>
  <div class="myNav">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/about/us" class="nav-link" >About us</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/contacts" class="nav-link">Contacts</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

