.main {
  font-style: italic;
  color: white;
  font-weight: 800;
  margin-left: 15px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}


.navbar-brand {
  margin-left: 5px;
}


.myNav{
  display:flex;
}
