<div class="modal show" [ngStyle]="{display: isOpen ? 'block': 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCLose()">
          <span aria-hidden="true">&times;</span>
        </button>
      <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show" [ngStyle]="{display: isOpen ? 'block': 'none'}"
></div>
